---
import BotinesGaleria from "../components/BotinesGaleria.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";



const botines = [
{ imagen: "/1.webp", precio: 135.000, marca: "Nike", modelo: "Mercurial Superfly SG", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/2.webp", precio: 135.000, marca: "Puma", modelo: "Future", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/3.webp", precio: 135.000, marca: "Nike", modelo: "Mercurial Superfly SG", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/4.webp", precio: 135.000, marca: "Puma", modelo: "Future", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/5.webp", precio: 135.000, marca: "Nike", modelo: "Tiempo R10 FG", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/6.webp", precio: 135.000, marca: "Adidas", modelo: "Predator 30 TF", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/7.webp", precio: 115.000, marca: "Nike", modelo: "Mercurial Vapor SG", categoria: "Futbol 5", talle: "39-45" },
  { imagen: "/8.webp", precio: 135.000, marca: "Adidas", modelo: "Copa Pure || FG", categoria: "Futbol", talle: "39-45" },
  { imagen: "/9.webp", precio: 115.000, marca: "Adidas", modelo: "Copa Gloro TF", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/10.webp", precio: 115.000, marca: "Nike", modelo: "Mercurial Vapor TF", categoria: "Futbol 5", talle: "39-45" },
  { imagen: "/11.webp", precio: 135.000, marca: "Adidas", modelo: "F50 SG", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/12.webp", precio: 115.000, marca: "Puma", modelo: "Future", categoria: "Futbol 5", talle: "39-45" },
  { imagen: "/13.webp", precio: 115.000, marca: "Nike", modelo: "Lunar Gato", categoria: "Futsal", talle: "39-45" },
  { imagen: "/14.webp", precio: 139, marca: "Nike", modelo: "Phantom", categoria: "Futsal", talle: "39-45" },
  { imagen: "/15.webp", precio: 135.000, marca: "Adidas", modelo: "F50 SG", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/16.webp", precio: 135.000, marca: "Nike", modelo: "Phantom SG", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/17.webp", precio: 135.000, marca: "Nike", modelo: "Phantom SG", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/18.webp", precio: 135.000, marca: "Nike", modelo: "Mercurial Superfly", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/19.webp", precio: 115.000, marca: "Adidas", modelo: "Copa", categoria: "Futbol 5", talle: "39-45" },
  { imagen: "/20.webp", precio: 135.000, marca: "Nike", modelo: "Mercurial Superfly", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/21.webp", precio: 115.000, marca: "Nike", modelo: "Phantom", categoria: "Futsal", talle: "39-45" },
  { imagen: "/22.webp", precio: 115.000, marca: "Adidas", modelo: "F50", categoria: "Futsal", talle: "39-45" },
  { imagen: "/23.webp", precio: 135.000, marca: "Adidas", modelo: "Copa", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/24.webp", precio: 135.000, marca: "Puma", modelo: "Future", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/25.webp", precio: 135.000, marca: "Nike", modelo: "Mercurial Vapor", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/26.webp", precio: 135.000, marca: "Adidas", modelo: "F50", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/27.webp", precio: 135.000, marca: "Nike", modelo: "Phantom SG", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/28.webp", precio: 115.000, marca: "Adidas", modelo: "X Speedflow", categoria: "Futsal", talle: "39-45" },
  { imagen: "/29.webp", precio: 115.000, marca: "Nike", modelo: "Mercurial", categoria: "Futbol 5", talle: "39-45" },
  { imagen: "/30.webp", precio: 115.000, marca: "Adidas", modelo: "F50", categoria: "Futbol 5", talle: "39-45" },
  { imagen: "/31.webp", precio: 115.000, marca: "Nike", modelo: "Tiempo", categoria: "Futsal", talle: "39-45" },
  { imagen: "/32.webp", precio: 115.000, marca: "Nike", modelo: "Mercurial", categoria: "Futbol 5", talle: "39-45" },
  { imagen: "/33.webp", precio: 115.000, marca: "Adidas", modelo: "F50", categoria: "Futsal", talle: "39-45" },
  { imagen: "/34.webp", precio: 115.000, marca: "Nike", modelo: "Phantom", categoria: "Futsal", talle: "39-45" },
  { imagen: "/35.webp", precio: 135.000, marca: "Puma", modelo: "Ultra", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/36.webp", precio: 115.000, marca: "Nike", modelo: "Tiempo", categoria: "Futbol 5", talle: "39-45" },
  { imagen: "/37.webp", precio: 135.000, marca: "Nike", modelo: "Tiempo", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/38.webp", precio: 135.000, marca: "Adidas", modelo: "Predator", categoria: "Futbol 11", talle: "39-45" },
  { imagen: "/39.webp", precio: 115.000, marca: "Nike", modelo: "Tiempo", categoria: "Futbol 5", talle: "39-45" },
  { imagen: "/40.webp", precio: 115.000, marca: "Adidas", modelo: "Copa", categoria: "Futbol 5", talle: "39-45" },
  { imagen: "/41.webp", precio: 115.000, marca: "Adidas", modelo: "Copa Gloro TF", categoria: "Futbol 5", talle: "39-45" },
  { imagen: "/42.webp", precio: 115.000, marca: "Nike", modelo: "Tiempo Legend XTF", categoria: "Futbol 5", talle: "39-45" },
  { imagen: "/superfly4.webp", precio: 135.000 , marca: "Nike", modelo: "Superfly 4", categoria: "Futbol", talle: "39-45" },
  { imagen: "/Vapor16.webp", precio: 135.000 , marca: "Nike", modelo: "Vapor 16",categoria: "Futbol", talle: "39-45" },
  { imagen: "/F50.webp", precio: 135.000 , marca: "Adidas", modelo: "F50",  categoria: "Futbol", talle: "39-45" },
  { imagen: "/gxIIsg.webp", precio: 135.000 , marca: "Nike", modelo: "Phantom GX II SG", categoria: "Futbol", talle: "39-45" },
  ];
---

  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
<Layout title="Botines Premium JM - Venta de botines profesional" description="Venta de botines de fútbol, fútbol 5 y futsal de las mejores marcas. Envíos a todo el país.">
<main class="px-8">
<Header/>
<section class="py-12 bg-white">
  <div class=" mx-auto px-6">
    <h2 class="text-3xl sm:text-5xl font-bold text-center mb-8">Botines Disponibles</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
      {botines.map((botin) => (
        <BotinesGaleria 
          imagen={botin.imagen}
          precio={botin.precio}
          marca={botin.marca}
          modelo={botin.modelo}
          categoria={botin.categoria}
          talle={botin.talle}
        />
      ))}
    </div>
  </div>
</main>
</Layout>









